/*
  #########################
  General NodeGear Stylus file
  #########################
*/

/* `Web fonts
----------------------------------------------------------------------------------------------------*/

@font-face {
  font-family: 'Bree Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Bree Serif'), local('BreeSerif-Regular'), url(http://themes.googleusercontent.com/static/fonts/breeserif/v2/LQ7WLTaITDg4OSRuOZCpsxsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}

/* `General stuff
----------------------------------------------------------------------------------------------------*/

body{
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  background-color: #EEE;
}

a:hover{
  color: #38C !important; 
  cursor: pointer;
}

a{
  color: #888;
  text-decoration: none;
  -o-transition:.4s;
  -ms-transition:.4s;
  -moz-transition:.4s;
  -webkit-transition:.4s;
  transition:.4s;
}

h1,h2,h3,h4,h5{
  font-family: 'Bree Serif', serif;
}

small{
  opacity: 0.6;
}

p{
  text-align: justify;
  opacity: 0.7;
  img{ float:left; padding: 0px 20px 10px 0px;}
}

hr{
  border: none;
  border-bottom: solid 1px #333;
  opacity: 0.2;
  height: 0px;
}

blockquote {
  font-family: Georgia, serif;
  font-style: italic;
  margin: 20px 0;
  padding: 5px 30px;
  line-height: 1.45;
  position: relative;
}

blockquote:before {
  display: block;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -20px;
  top: -20px;
  color: #7a7a7a;
}

/* `To keep footer in place
----------------------------------------------------------------------------------------------------*/
html,body,#main,#layout {height: 100%}
#wrap {min-height: 100%}
#content {padding-bottom: 40px;}  /* must be same height as the footer */
#footer {position: relative; margin-top: -41px; clear:both;} /* negative value of footer height */
body:before {content:"";height:100%;float:left;width:0;margin-top:-32767px;}

/*Opera Fix*/
body:before {
  content:"";
  height:100%;
  float:left;
  width:0;
  margin-top:-32767px;
}

/* `Important styling
----------------------------------------------------------------------------------------------------*/
#top{
  display:block;
  height: 50px;
  border-bottom: 1px solid #CACACA;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4),0 0px 10px rgba(0, 0, 0, 0.1);

  background: #fafafa;
  background: -moz-linear-gradient(top,  #fafafa 0%, #eaeaea 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#eaeaea));
  background: -webkit-linear-gradient(top,  #fafafa 0%,#eaeaea 100%);
  background: -o-linear-gradient(top,  #fafafa 0%,#eaeaea 100%);
  background: -ms-linear-gradient(top,  #fafafa 0%,#eaeaea 100%);
  background: linear-gradient(to bottom,  #fafafa 0%,#eaeaea 100%);

  #title{
    display: inline-block;
    font-family: 'Bree Serif', serif;
    font-size: 22px;
    padding-top: 15px;
    text-shadow: 1px 1px 0px #FFF;

    em{
      color: #38C;
      font-style: normal;
    }
  }

  .logo_at_header{
    display:block;
    width: 138px;
    height: 38px;
    margin-top: 6px;
    background-image: url("../img/logo_small.gif");
    text-indent: -9999px;
  }

  #navigation{
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    text-shadow: 1px 1px 0px #FFF;
    padding-top: 17px;
    width: 100%;
    text-align: right;

    a{
      color: #000;
      margin-right: 10px;
    }
  }
}

#page{
  margin-top: 30px;

  .blackboard{
    background-color: #333;
    color: #FFF;
    padding: 10px 40px 20px 40px;
    border-radius: 4px
  }

  .whiteboard{
    background-color: #F7F7F7;
    color: #000;
    padding: 10px 40px 20px 40px;
    border-radius: 4px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2), inset 0 0 5px white;
    margin-bottom: 40px;
  }
}

#footer{
  width:100%;
  height:40px;

  border-top: 1px solid #888;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4),0 -5px 15px rgba(0, 0, 0, 0.2);

  color: #BBB;
  text-align: center;
  line-height: 40px;
  text-shadow: 0 -1px 0 #222;

  background: #5e5e5e;
  background: -moz-linear-gradient(top,  #5e5e5e 0%, #333333 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5e5e5e), color-stop(100%,#333333));
  background: -webkit-linear-gradient(top,  #5e5e5e 0%,#333333 100%);
  background: -o-linear-gradient(top,  #5e5e5e 0%,#333333 100%);
  background: -ms-linear-gradient(top,  #5e5e5e 0%,#333333 100%);
  background: linear-gradient(to bottom,  #5e5e5e 0%,#333333 100%);

  a{
    color: #FFF;
  }
}

.avatar{
  img{
    border-radius: 3px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
  }
}

.clear{
  clear:both;
}
