/*
  #########################
  Login & Signup Forms 
  #########################
*/

.fancy_box{
    border: solid 1px #555;
    width: 300px;
    margin: auto;
    margin-bottom: 40px;
    box-shadow: 0 0 2px white, 0 0 10px rgba(0, 0, 0, 0.4), inset 0 0 1px white;

    background: #5e5e5e;
    background: -moz-linear-gradient(top,  #5e5e5e 0%, #333333 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5e5e5e), color-stop(100%,#333333));
    background: -webkit-linear-gradient(top,  #5e5e5e 0%,#333333 100%);
    background: -o-linear-gradient(top,  #5e5e5e 0%,#333333 100%);
    background: -ms-linear-gradient(top,  #5e5e5e 0%,#333333 100%);
    background: linear-gradient(to bottom,  #5e5e5e 0%,#333333 100%);

    input, textarea{
        margin: 3px;
        font-family: "Arial", sans-serif;
    }

    input.error{
        border: dashed 1px #F77 !important;
        background-color: #FBB !important;
    }

    label{
        display: block;
        padding-top: 6px;
        padding-left: 3px;
    }

    input[type=text],input[type=password],textarea{
        background-color: #EEE;
        border: solid 1px #222;
        box-shadow: 0 0 2px rgba(255, 255, 255, 0.3), 0 0 30px rgba(0, 0, 0, 0.26), inset 1px 2px 10px #999;
        border-radius: 3px;
        font-size: 18px;
        padding: 5px;
        color: #777;
        font-weight: bold;
        width: 96%;
    }

    textarea{
        height: 180px;
    }

    input[type=submit], button{
        background-color: #333;
        border: solid 1px #222;
        box-shadow: 0 0 2px rgba(255, 255, 255, 0.3), 0 0 30px rgba(0, 0, 0, 0.26), inset 1px 1px 3px #999, inset -1px -1px 3px black;
        border-radius: 3px;
        font-size: 18px;
        padding: 5px;
        color: #EEE;
        font-weight: bold;
        width: 100%;
        height: 42px;
        cursor: pointer;
    }

    input[type=submit]:hover, button:hover{
        background-color: #1C3468;
    }

    input[type=submit].green, button.green{
        background-color: #51D338;
        text-shadow: -1px -1px 0 #080, 1px 1px 0 #AAA;
        box-shadow: 0 0 60px white, 0 0 30px rgba(0, 0, 0, 0.26), inset 1px 1px 8px #90FFAA, inset -1px -1px 3px #004B00;
    }

    input[type=submit].green:hover, button.green:hover{
        background-color: #20C900;
    }

    p.error{
        color: #FF8484;
        text-align: center;
        display: block;
        text-shadow: 1px 1px 0 black;
    }
}

.fancy_box.signup{
    padding-bottom: 28px !important;

    input[type=submit], button{
        margin-top: 20px;
    }
}
