form.quickedit{
    width: 100%;

    input[type=text]{
        display: inline;
        border: none;
        background-color: #FFF;
        font-family: 'Arial';
        font-size: 14px;
        padding: 1px;
        border-radius: 3px;
        outline-offset: 0;
        outline: 0;
    }

    input[type=submit]{
        display: inline;
        background-color: transparent;
        border: none;
        font-family: 'Arial';
        font-size: 14px;
        color: #555;
        padding: 0px;

        -o-transition:.4s;
        -ms-transition:.4s;
        -moz-transition:.4s;
        -webkit-transition:.4s;
        transition:.4s;

        &:hover{
          color: #38C !important; 
          cursor: pointer;
        }
    }
}
