a.repo{
    color: #FFF;
    padding: 0px;
    border-radius: 4px;
    float:left;
    width: 185px;
    height: 150px;

    border: solid 1px #555;
    box-shadow: 
        0 0 2px white, 
        0 0 10px rgba(0, 0, 0, 0.4), 
        inset 0 0 1px white;

    background: #5e5e5e;
    background: -moz-linear-gradient(top,  #5e5e5e 0%, #333333 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5e5e5e), color-stop(100%,#333333));
    background: -webkit-linear-gradient(top,  #5e5e5e 0%,#333333 100%);
    background: -o-linear-gradient(top,  #5e5e5e 0%,#333333 100%);
    background: -ms-linear-gradient(top,  #5e5e5e 0%,#333333 100%);
    background: linear-gradient(to bottom,  #5e5e5e 0%,#333333 100%);

    cursor: pointer;
    &:hover { 
        opacity: 0.9;
        span{
            opacity: 1;
        }
    }

    margin-right: 27px;
    margin-bottom: 27px;
    &:nth-child(3n +2){
        margin-right: 0px;
    }

    &.new{

        border: solid 1px #CCC;
        background-image: none;
        text-align: center;
        color: #777;
        margin-right: 0px;

        &:hover{
            background-color: #EEE;    
        }

        span{
            padding-left: 0px;
            text-shadow: none;
            line-height: 140px
        }
    }

    span{
        padding-left: 10px;
        opacity: 0.7;
        text-shadow: 
            0px -1px 0 #333,
            0px -2px 0 #333,
            0px  1px 0 #6D6D6D,
            0px  2px 0 #6D6D6D;
    }

    hr{
        display: block;
        border: inset 1px #BBB;
        opacity: 0.3;
    }

    span.name{
        font-weight: bold;
        font-size: 18px;
    }

    span.owner{
        display:block;
        font-size: 12px;
    }
}

span.ssh_address{
    background-color: #CCC;
    padding: 2px 5px;
    border-radius: 3px;
    color: #333;
    font-family: "Monaco", "Courier New", monospace;

    &:hover{
        color: #000;
    }
}

div.repo-info{
    float: right;
    padding: 5px;
    border-radius: 4px;
    background-color: #EEE;

    box-shadow: 
        inset 1px 1px 5px rgba(0, 0, 0, 0.3),
        0 0 4px white;
}
