
i.status_icon{
    display: block;
    background-image: url("../img/status_icons.png");
    width: 71px;
    height: 75px;
    margin: auto;
    margin-top: 15px;
}
i.status_icon.success{ }
i.status_icon.alert{ background-position: -68px 0;}
i.status_icon.warning{ background-position: -136px 0;}
i.status_icon.error{ background-position: -204px 0;}
i.status_icon.question{ background-position: -272px 0;}
