.fancy_box {
  border:solid 1px #555555;
  width:300px;
  margin:auto;
  margin-bottom:40px;
  box-shadow:0 0 2px white, 0 0 10px rgba(0,0,0,0.4), inset 0 0 1px white;
  background:#5e5e5e;
  background:-moz-linear-gradient(top,#5e5e5e 0%,#333333 100%);
  background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#5e5e5e),color-stop(100%,#333333));
  background:-webkit-linear-gradient(top,#5e5e5e 0%,#333333 100%);
  background:-o-linear-gradient(top,#5e5e5e 0%,#333333 100%);
  background:-ms-linear-gradient(top,#5e5e5e 0%,#333333 100%);
  background:linear-gradient(to bottom,#5e5e5e 0%,#333333 100%);
}
.fancy_box input, .fancy_box textarea {
  margin:3px;
  font-family:"Arial", sans-serif;
}
.fancy_box input.error {
  border:dashed 1px #ff7777 !important;
  background-color:#ffbbbb !important;
}
.fancy_box label {
  display:block;
  padding-top:6px;
  padding-left:3px;
}
.fancy_box input[type=text], .fancy_box input[type=password], .fancy_box textarea {
  background-color:#eeeeee;
  border:solid 1px #222222;
  box-shadow:0 0 2px rgba(255,255,255,0.3), 0 0 30px rgba(0,0,0,0.26), inset 1px 2px 10px #999999;
  border-radius:3px;
  font-size:18px;
  padding:5px;
  color:#777777;
  font-weight:bold;
  width:96%;
}
.fancy_box textarea { height:180px; }
.fancy_box input[type=submit], .fancy_box button {
  background-color:#333333;
  border:solid 1px #222222;
  box-shadow:0 0 2px rgba(255,255,255,0.3), 0 0 30px rgba(0,0,0,0.26), inset 1px 1px 3px #999999, inset -1px -1px 3px black;
  border-radius:3px;
  font-size:18px;
  padding:5px;
  color:#eeeeee;
  font-weight:bold;
  width:100%;
  height:42px;
  cursor:pointer;
}
.fancy_box input[type=submit]:hover, .fancy_box button:hover { background-color:#1c3468; }
.fancy_box input[type=submit].green, .fancy_box button.green {
  background-color:#51d338;
  text-shadow:-1px -1px 0 #008800, 1px 1px 0 #aaaaaa;
  box-shadow:0 0 60px white, 0 0 30px rgba(0,0,0,0.26), inset 1px 1px 8px #90ffaa, inset -1px -1px 3px #004b00;
}
.fancy_box input[type=submit].green:hover, .fancy_box button.green:hover { background-color:#20c900; }
.fancy_box p.error {
  color:#ff8484;
  text-align:center;
  display:block;
  text-shadow:1px 1px 0 black;
}
.fancy_box.signup { padding-bottom:28px !important; }
.fancy_box.signup input[type=submit], .fancy_box.signup button { margin-top:20px; }
