@import url("grid.css");
@font-face {
  font-family:'Bree Serif';
  font-style:normal;
  font-weight:400;
  src:local('Bree Serif'), local('BreeSerif-Regular'), url(http://themes.googleusercontent.com/static/fonts/breeserif/v2/LQ7WLTaITDg4OSRuOZCpsxsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
body {
  font-family:"Arial", sans-serif;
  font-size:14px;
  line-height:16px;
  margin:0;
  background-color:#eeeeee;
}
a:hover {
  color:#3388cc !important;
  cursor:pointer;
}
a {
  color:#888888;
  text-decoration:none;
  -o-transition:.4s;
  -ms-transition:.4s;
  -moz-transition:.4s;
  -webkit-transition:.4s;
  transition:.4s;
}
h1, h2, h3, h4, h5 { font-family:'Bree Serif', serif; }
small { opacity:0.6; }
p {
  text-align:justify;
  opacity:0.7;
}
p img {
  float:left;
  padding:0px 20px 10px 0px;
}
hr {
  border:none;
  border-bottom:solid 1px #333333;
  opacity:0.2;
  height:0px;
}
blockquote {
  font-family:Georgia, serif;
  font-style:italic;
  margin:20px 0;
  padding:5px 30px;
  line-height:1.45;
  position:relative;
}
blockquote:before {
  display:block;
  content:"\201C";
  font-size:80px;
  position:absolute;
  left:-20px;
  top:-20px;
  color:#7a7a7a;
}
html, body, #main, #layout { height:100%; }
#wrap { min-height:100%; }
#content { padding-bottom:40px; }
#footer {
  position:relative;
  margin-top:-41px;
  clear:both;
}
body:before {
  content:"";
  height:100%;
  float:left;
  width:0;
  margin-top:-32767px;
}
body:before {
  content:"";
  height:100%;
  float:left;
  width:0;
  margin-top:-32767px;
}
#top {
  display:block;
  height:50px;
  border-bottom:1px solid #cacaca;
  box-shadow:0 1px 0 rgba(255,255,255,0.4), 0 0px 10px rgba(0,0,0,0.1);
  background:#fafafa;
  background:-moz-linear-gradient(top,#fafafa 0%,#eaeaea 100%);
  background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fafafa),color-stop(100%,#eaeaea));
  background:-webkit-linear-gradient(top,#fafafa 0%,#eaeaea 100%);
  background:-o-linear-gradient(top,#fafafa 0%,#eaeaea 100%);
  background:-ms-linear-gradient(top,#fafafa 0%,#eaeaea 100%);
  background:linear-gradient(to bottom,#fafafa 0%,#eaeaea 100%);
}
#top #title {
  display:inline-block;
  font-family:'Bree Serif', serif;
  font-size:22px;
  padding-top:15px;
  text-shadow:1px 1px 0px #ffffff;
}
#top #title em {
  color:#3388cc;
  font-style:normal;
}
#top .logo_at_header {
  display:block;
  width:138px;
  height:38px;
  margin-top:6px;
  background-image:url("../img/logo_small.gif");
  text-indent:-9999px;
}
#top #navigation {
  display:inline-block;
  font-size:13px;
  font-weight:bold;
  text-shadow:1px 1px 0px #ffffff;
  padding-top:17px;
  width:100%;
  text-align:right;
}
#top #navigation a {
  color:#000000;
  margin-right:10px;
}
#page { margin-top:30px; }
#page .blackboard {
  background-color:#333333;
  color:#ffffff;
  padding:10px 40px 20px 40px;
  border-radius:4px;
}
#page .whiteboard {
  background-color:#f7f7f7;
  color:#000000;
  padding:10px 40px 20px 40px;
  border-radius:4px;
  box-shadow:1px 1px 5px rgba(0,0,0,0.2), inset 0 0 5px white;
  margin-bottom:40px;
}
#footer {
  width:100%;
  height:40px;
  border-top:1px solid #888888;
  box-shadow:0 -1px 0 rgba(0,0,0,0.4), 0 -5px 15px rgba(0,0,0,0.2);
  color:#bbbbbb;
  text-align:center;
  line-height:40px;
  text-shadow:0 -1px 0 #222222;
  background:#5e5e5e;
  background:-moz-linear-gradient(top,#5e5e5e 0%,#333333 100%);
  background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#5e5e5e),color-stop(100%,#333333));
  background:-webkit-linear-gradient(top,#5e5e5e 0%,#333333 100%);
  background:-o-linear-gradient(top,#5e5e5e 0%,#333333 100%);
  background:-ms-linear-gradient(top,#5e5e5e 0%,#333333 100%);
  background:linear-gradient(to bottom,#5e5e5e 0%,#333333 100%);
}
#footer a { color:#ffffff; }
.avatar img {
  border-radius:3px;
  box-shadow:0px 0px 4px rgba(0,0,0,0.5);
}
.clear { clear:both; }
.fancy_box {
  border:solid 1px #555555;
  width:300px;
  margin:auto;
  margin-bottom:40px;
  box-shadow:0 0 2px white, 0 0 10px rgba(0,0,0,0.4), inset 0 0 1px white;
  background:#5e5e5e;
  background:-moz-linear-gradient(top,#5e5e5e 0%,#333333 100%);
  background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#5e5e5e),color-stop(100%,#333333));
  background:-webkit-linear-gradient(top,#5e5e5e 0%,#333333 100%);
  background:-o-linear-gradient(top,#5e5e5e 0%,#333333 100%);
  background:-ms-linear-gradient(top,#5e5e5e 0%,#333333 100%);
  background:linear-gradient(to bottom,#5e5e5e 0%,#333333 100%);
}
.fancy_box input, .fancy_box textarea {
  margin:3px;
  font-family:"Arial", sans-serif;
}
.fancy_box input.error {
  border:dashed 1px #ff7777 !important;
  background-color:#ffbbbb !important;
}
.fancy_box label {
  display:block;
  padding-top:6px;
  padding-left:3px;
}
.fancy_box input[type=text], .fancy_box input[type=password], .fancy_box textarea {
  background-color:#eeeeee;
  border:solid 1px #222222;
  box-shadow:0 0 2px rgba(255,255,255,0.3), 0 0 30px rgba(0,0,0,0.26), inset 1px 2px 10px #999999;
  border-radius:3px;
  font-size:18px;
  padding:5px;
  color:#777777;
  font-weight:bold;
  width:96%;
}
.fancy_box textarea { height:180px; }
.fancy_box input[type=submit], .fancy_box button {
  background-color:#333333;
  border:solid 1px #222222;
  box-shadow:0 0 2px rgba(255,255,255,0.3), 0 0 30px rgba(0,0,0,0.26), inset 1px 1px 3px #999999, inset -1px -1px 3px black;
  border-radius:3px;
  font-size:18px;
  padding:5px;
  color:#eeeeee;
  font-weight:bold;
  width:100%;
  height:42px;
  cursor:pointer;
}
.fancy_box input[type=submit]:hover, .fancy_box button:hover { background-color:#1c3468; }
.fancy_box input[type=submit].green, .fancy_box button.green {
  background-color:#51d338;
  text-shadow:-1px -1px 0 #008800, 1px 1px 0 #aaaaaa;
  box-shadow:0 0 60px white, 0 0 30px rgba(0,0,0,0.26), inset 1px 1px 8px #90ffaa, inset -1px -1px 3px #004b00;
}
.fancy_box input[type=submit].green:hover, .fancy_box button.green:hover { background-color:#20c900; }
.fancy_box p.error {
  color:#ff8484;
  text-align:center;
  display:block;
  text-shadow:1px 1px 0 black;
}
.fancy_box.signup { padding-bottom:28px !important; }
.fancy_box.signup input[type=submit], .fancy_box.signup button { margin-top:20px; }
i.status_icon {
  display:block;
  background-image:url("../img/status_icons.png");
  width:71px;
  height:75px;
  margin:auto;
  margin-top:15px;
}
i.status_icon.alert { background-position:-68px 0; }
i.status_icon.warning { background-position:-136px 0; }
i.status_icon.error { background-position:-204px 0; }
i.status_icon.question { background-position:-272px 0; }
a.repo {
  color:#ffffff;
  padding:0px;
  border-radius:4px;
  float:left;
  width:185px;
  height:150px;
  border:solid 1px #555555;
  box-shadow:0 0 2px white, 0 0 10px rgba(0,0,0,0.4), inset 0 0 1px white;
  background:#5e5e5e;
  background:-moz-linear-gradient(top,#5e5e5e 0%,#333333 100%);
  background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#5e5e5e),color-stop(100%,#333333));
  background:-webkit-linear-gradient(top,#5e5e5e 0%,#333333 100%);
  background:-o-linear-gradient(top,#5e5e5e 0%,#333333 100%);
  background:-ms-linear-gradient(top,#5e5e5e 0%,#333333 100%);
  background:linear-gradient(to bottom,#5e5e5e 0%,#333333 100%);
  cursor:pointer;
  margin-right:27px;
  margin-bottom:27px;
}
a.repo:hover { opacity:0.9; }
a.repo:hover span { opacity:1; }
a.repo:nth-child(3n +2) { margin-right:0px; }
a.repo.new {
  border:solid 1px #cccccc;
  background-image:none;
  text-align:center;
  color:#777777;
  margin-right:0px;
}
a.repo.new:hover { background-color:#eeeeee; }
a.repo.new span {
  padding-left:0px;
  text-shadow:none;
  line-height:140px;
}
a.repo span {
  padding-left:10px;
  opacity:0.7;
  text-shadow:0px -1px 0 #333333, 0px -2px 0 #333333, 0px 1px 0 #6d6d6d, 0px 2px 0 #6d6d6d;
}
a.repo hr {
  display:block;
  border:inset 1px #bbbbbb;
  opacity:0.3;
}
a.repo span.name {
  font-weight:bold;
  font-size:18px;
}
a.repo span.owner {
  display:block;
  font-size:12px;
}
span.ssh_address {
  background-color:#cccccc;
  padding:2px 5px;
  border-radius:3px;
  color:#333333;
  font-family:"Monaco", "Courier New", monospace;
}
span.ssh_address:hover { color:#000000; }
div.repo-info {
  float:right;
  padding:5px;
  border-radius:4px;
  background-color:#eeeeee;
  box-shadow:inset 1px 1px 5px rgba(0,0,0,0.3), 0 0 4px white;
}
form.quickedit { width:100%; }
form.quickedit input[type=text] {
  display:inline;
  border:none;
  background-color:#ffffff;
  font-family:'Arial';
  font-size:14px;
  padding:1px;
  border-radius:3px;
  outline-offset:0;
  outline:0;
}
form.quickedit input[type=submit] {
  display:inline;
  background-color:transparent;
  border:none;
  font-family:'Arial';
  font-size:14px;
  color:#555555;
  padding:0px;
  -o-transition:.4s;
  -ms-transition:.4s;
  -moz-transition:.4s;
  -webkit-transition:.4s;
  transition:.4s;
}
form.quickedit input[type=submit]:hover {
  color:#3388cc !important;
  cursor:pointer;
}
a.ssh_key { color:#ffffff; }
