a.repo {
  color:#ffffff;
  padding:0px;
  border-radius:4px;
  float:left;
  width:185px;
  height:150px;
  border:solid 1px #555555;
  box-shadow:0 0 2px white, 0 0 10px rgba(0,0,0,0.4), inset 0 0 1px white;
  background:#5e5e5e;
  background:-moz-linear-gradient(top,#5e5e5e 0%,#333333 100%);
  background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#5e5e5e),color-stop(100%,#333333));
  background:-webkit-linear-gradient(top,#5e5e5e 0%,#333333 100%);
  background:-o-linear-gradient(top,#5e5e5e 0%,#333333 100%);
  background:-ms-linear-gradient(top,#5e5e5e 0%,#333333 100%);
  background:linear-gradient(to bottom,#5e5e5e 0%,#333333 100%);
  cursor:pointer;
  margin-right:27px;
  margin-bottom:27px;
}
a.repo:hover { opacity:0.9; }
a.repo:hover span { opacity:1; }
a.repo:nth-child(3n +2) { margin-right:0px; }
a.repo.new {
  border:solid 1px #cccccc;
  background-image:none;
  text-align:center;
  color:#777777;
  margin-right:0px;
}
a.repo.new:hover { background-color:#eeeeee; }
a.repo.new span {
  padding-left:0px;
  text-shadow:none;
  line-height:140px;
}
a.repo span {
  padding-left:10px;
  opacity:0.7;
  text-shadow:0px -1px 0 #333333, 0px -2px 0 #333333, 0px 1px 0 #6d6d6d, 0px 2px 0 #6d6d6d;
}
a.repo hr {
  display:block;
  border:inset 1px #bbbbbb;
  opacity:0.3;
}
a.repo span.name {
  font-weight:bold;
  font-size:18px;
}
a.repo span.owner {
  display:block;
  font-size:12px;
}
span.ssh_address {
  background-color:#cccccc;
  padding:2px 5px;
  border-radius:3px;
  color:#333333;
  font-family:"Monaco", "Courier New", monospace;
}
span.ssh_address:hover { color:#000000; }
div.repo-info {
  float:right;
  padding:5px;
  border-radius:4px;
  background-color:#eeeeee;
  box-shadow:inset 1px 1px 5px rgba(0,0,0,0.3), 0 0 4px white;
}
